<table class="table table-striped table-hover tablesorter">
  <thead>
  <tr>
    <th>When</th>
    <th>Black Front</th>
    <th>Black Back</th>
    <th>Yellow Front</th>
    <th>Yellow Back</th>
    <th>Who Won?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% games.each do |game| %>
      <tr>
        <td style="width: 50px;"><%= game.created_at.strftime("%b %d") %></td>
        <% [game.black_front_player, game.black_back_player, game.yellow_front_player, game.yellow_back_player].each do |player| %>
            <td data-isplayer="true" data-player="<%= player.underscored_name -%>">
              <%= player.name %>
            </td>
        <% end %>
        <td><%= game.result ? "YELLOW" : "BLACK" %></td>
        <td><%= link_to 'Edit', edit_game_path(game), class: "btn btn-mini" %></td>
        <td><%= link_to 'Delete', game, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-mini" %></td>
      </tr>
  <% end %>
  </tbody>
</table>
