<%- show_edit ||= false %>
<table class="table table-striped table-hover tablesorter">
  <thead>
  <tr>
    <th>Rank</th>
    <th>Name</th>
    <th>Rating</th>
    <th>± E</th>
    <th>Rating - E</th>
    <%- if show_edit %>
        <th></th>
    <%- end %>
  </tr>
  </thead>

  <tbody>
  <% players.each_with_index do |player, index| %>
      <tr>
        <td><%= index +1 %></td>
        <td data-isplayer="true" data-player="<%= player.underscored_name %>">
          <%= player.name %>
        </td>
        <td><%= player.mean.round %></td>
        <td><%= player.deviation.round %></td>
        <td><%= player.mean.round - player.deviation.round %></td>
        <%- if show_edit %>
            <td><%= link_to 'Edit', edit_player_path(player), class: "btn btn-mini" %></td>
        <%- end %>
      </tr>
  <% end %>
  </tbody>
</table>
