<%- players_array = Player.order(:name).all.collect { |player| [player.name, player.id] } %>

<%= link_to "Rotate and switch from last", new_game_path(rotate_and_switch_from_last: true), class: "btn btn-large btn-success" %>

<%= form_for(@game) do |f| %>
    <% if @game.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

          <ul>
            <% @game.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field black_front">
      <%= f.label :black_front_player_id %>
      <%= f.select :black_front_player_id, players_array, :include_blank => true %>
    </div>
    <div class="field black_back">
      <%= f.label :black_back_player_id %>
      <%= f.select :black_back_player_id, players_array, :include_blank => true %>
    </div>
    <div class="field yellow_front">
      <%= f.label :yellow_front_player_id %>
      <%= f.select :yellow_front_player_id, players_array, :include_blank => true %>
    </div>
    <div class="field yellow_back">
      <%= f.label :yellow_back_player_id %>
      <%= f.select :yellow_back_player_id, players_array, :include_blank => true %>
    </div>

      <div class="actions">
        <%= link_to "Rotate!", "#", id: "switch_black_players", class: "switch_black btn btn-small btn-success" %>
        <%= link_to "Rotate!", "#", id: "switch_yellow_players", class: "switch_yellow btn btn-small btn-success" %>
        <%= f.submit "Yellow won!", class: "btn btn-large btn-warning yellow_won" %>
        <%= f.submit "Black won!", class: "btn btn-large btn-inverse black_won" %>
      </div>
<% end %>
