
<div class="row">
  <div class="span12">
    <p id="notice"><%= notice %></p>
  </div>
</div>

<div class="row">
  <div class="span5">
    <h1>Ranking <%= link_to 'New Player', new_player_path, class: "btn btn-success" %></h1>
    <%=  render partial: "shared/player_ranking", :locals => { :players => @players, show_edit: true } %>
    <%= link_to 'More Stats', stats_path, class: "btn btn-info" %>
  </div>
  <div class="span7">
    <h1>Games <%= link_to 'Record new', new_game_path, class: "btn btn-success" %></h1>

    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>When</th>
        <th>Black Front</th>
        <th>Black Back</th>
        <th>Yellow Front</th>
        <th>Yellow Back</th>
        <th>Who Won?</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @games.each do |game| %>
          <tr>
            <td style="width: 50px;"><%= game.created_at.strftime("%b %d")%></td>
            <td><%= game.black_front_player.name %></td>
            <td><%= game.black_back_player.name %></td>
            <td><%= game.yellow_front_player.name %></td>
            <td><%= game.yellow_back_player.name %></td>
            <td><%= game.result ? "YELLOW" : "BLACK" %></td>
            <td><%= link_to 'Edit', edit_game_path(game), class: "btn btn-mini" %></td>
            <td><%= link_to 'Delete', game, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-mini"  %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>