<h1>Listing games</h1>

<table>
  <tr>
    <th>Black Front</th>
    <th>Black Back</th>
    <th>Yellow Front</th>
    <th>Yellow Back</th>
    <th>Who Won?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.black_front_player.name %></td>
    <td><%= game.black_back_player.name %></td>
    <td><%= game.yellow_front_player.name %></td>
    <td><%= game.yellow_back_player.name %></td>
    <td><%= game.result ? "YELLOW" : "BLACK" %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_game_path %>


<h1>Current Ranking</h1>

<table>
  <tr>
    <th>Rank</th>
    <th>Name</th>
    <th>Mean</th>
    <th>Deviation</th>
    <th></th>
    <th></th>
  </tr>

  <% Player.order("mean DESC").all.each_with_index do |player, index| %>
      <tr>
        <td><%= index +1 %></td>
        <td><%= player.name %></td>
        <td><%= player.mean.round %></td>
        <td><%= player.deviation.round %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
      </tr>
  <% end %>
</table>

<%= link_to 'New Player', new_player_path %>
