<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @player.name %>
</p>

<p>
  <b>Mean:</b>
  <%= @player.mean %>
</p>

<p>
  <b>Deviation:</b>
  <%= @player.deviation %>
</p>


<%= link_to 'Edit', edit_player_path(@player), class: "btn" %>
<%= link_to 'Back', games_path, class: "btn" %>
