<div class="row">
  <div class="span12">
    <h1>Game Statistics <%= link_to 'Back to games', games_path, class: "btn btn-success" %></h1>
  </div>
</div>

<div class="row">
  <div class="span6">
    <h3>Overall</h3>
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Stat</th>
        <th>#</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td>Number of games played</td>
        <td><%= @number_of_games %></td>
      </tr>
      <tr>
        <td>Number of yellow wins</td>
        <td><%= @number_of_yellow_wins %></td>
      </tr>
      <tr>
        <td>Number of black wins</td>
        <td><%= @number_of_black_wins %></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="span6">
    <h3>Per day</h3>
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Stat</th>
        <th>#</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td>Avg games per day</td>
        <td></td>
      </tr>
      <tr>
        <td>Avg games in the morning</td>
        <td></td>
      </tr>
      <tr>
        <td>Avg games in the afternoon</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="span6">
    <h3>Front Player Ranking</h3>
    <%= render partial: "shared/player_ranking", :locals => {:players => @front_players} %>
  </div>
  <div class="span6">
    <h3>Back Player Ranking</h3>
    <%= render partial: "shared/player_ranking", :locals => {:players => @back_players} %>
  </div>
</div>

<div class="row">
  <div class="span6">
    <h3>Morning Players Ranking</h3>
    <%= render partial: "shared/player_ranking", :locals => {:players => @morning_players} %>
  </div>
  <div class="span6">
    <h3>Afternoon Players Ranking</h3>
    <%= render partial: "shared/player_ranking", :locals => {:players => @afternoon_players} %>
  </div>
</div>
