<!DOCTYPE html>
<html lang="en">
<head>
  <title>FoosballRanks</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
<body>

<div class="container">
  <div class="row">
    <div class="span12">
      <p id="notice"><%= notice %></p>

      <%= link_to 'Add Player', new_player_path, class: "btn btn-success" %>
      <%= link_to 'Record new Game', new_game_path, class: "btn btn-success" %>
      <%= link_to 'Player Ranking', players_path, class: "btn btn-info" %>
      <%= link_to 'Games played', games_path, class: "btn btn-info" %>
      <%= link_to 'Stats', stats_path, class: "btn btn-info" %>
    </div>
  </div>

  <%= yield %>
</div>

<%= javascript_include_tag "application" %>
</body>
</html>
